<div class ="doctorclass">

    <div class="card-container">

        <a class="card" target="_blank" rel="noopener" href="appointment/appointment.component.html"><b>
            <h6> Appointments</h6>
          </b></a>
        <a class="card" target="_blank" rel="noopener" href="#"><b>
            <h6>Prescriptions</h6>
          </b></a>
        <a class="card" target="_blank" rel="noopener" href="#"><b>
            <h6>LabTests</h6>
          </b></a>
      </div>
    <app-appointment-list></app-appointment-list>
</div>








