
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="HOME" src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png" />
    <span>HOME</span>
    <div class="spacer"></div>
    <!--search box add here-->
  </div>
  <br><br><br><br><br>

<div class="jumbtron"  >
    &nbsp; &nbsp;
    <a routerLink="/employee-list" type="button" class="btn btn-outline-danger">View Employee Details</a>
    &nbsp; &nbsp;
    <button class="btn btn-sm btn-outline-danger">View Admin Details</button>
    &nbsp; &nbsp;
    <a routerLink="/employee-list" class="btn btn-outline-danger">View Medicine Details</a>
    &nbsp; &nbsp;
    <button  routerLink="/employeeregister" class="btn btn-sm btn-outline-danger">Add Employee</button>
    &nbsp; &nbsp;
    <button class="btn btn-sm btn-outline-danger">Add Medicine</button>


    
</div>
<footer class="footer bg-dark" style="align-items: center; margin-top: 80px;">
    <div class="footer footer-fixed align-items:center">
      <span class="text-white " style="text-align: center;"><b>All rights reserved 2022 @Team-RAAG</b>
  </span>
    </div>
  </footer>
