
  <!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="HOME"
      src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png"
    />
    <br>
    <span [routerLink]="['/ReceptionistHome']">RECEPTIONIST HOME</span>

    <br>
    <span style="margin-left: 50px;" [routerLink]="['/login']">LOGOUT</span>
    <br>
    <span class="bi bi-search" style="color: aliceblue;float: left;margin-left: 1300px;">WELCOME: {{loggedUser}}</span>
      <div class="spacer"></div>
    </div>
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small" style="margin-top: 100px;">
      <span><b>MAIN MENU</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
  
  
    <div class="card-container">
      <a class="card " target="_blank" rel="noopener" href="#" routerLink="/patientregistrartion" ><i class="fa fa-hospital me-2"></i> <b><h5>Patient Registration</h5> </b></a>
      <a class="card" target="_blank" rel="noopener" href="#" routerLink="/patient-list"><b><h5>Patients List</h5></b></a>
      <a class="card" target="_blank" rel="noopener" href="#" routerLink="/appointmentscheduling"><b><h5>Appointment Scheduling</h5></b></a>
      <a class="card" target="_blank" rel="noopener" href="#" routerLink="/appointmentlist"><b><h5>Appointments List</h5></b></a>
    </div>
  
      <input type="hidden" #selection>
  
  </div>

  <footer class="footer bg-dark" style="align-items: center; margin-top: 300px;">
    <div class="footer footer-fixed align-items:center">
      <span class="text-white " style="text-align: center;"><b>All rights reserved 2022 @Team-RAAG</b>
  </span>
    </div>
  </footer>
  
