<div>
    <div class="toolbar bg-dark" role="banner">
        <img width="40" alt="HOME"
            src="https://www.clipartmax.com/png/full/331-3319886_simplify-the-workflow-even-in-your-most-complex-scanning-white-house-icon.png" />
        <br>
        <span routerLink="/main">HOME</span>
        <div class="spacer"></div>
    </div>
</div>
<div class="container">
    <div class="login-box">
        <h2>Login</h2>
        <form action="" [formGroup]="loginForm" (ngSubmit)="loginCredentials()">
            <div class="user-box">
                <!-- <input type="text" name="" required="">
                <label>Username</label> -->
                <input type="text" placeholder="User Name" formControlName="UserName" class="form-control md-3"
                    required minlength="3"
                    [ngClass]="{'is-invalid':formControls.UserName.touched && formControls.UserName.invalid}"
                    id="UserName">
                <label for="UserName" ><b>User Name:</b></label>
                <div *ngIf="isSubmitted && formControls.UserName.errors">
                    <div *ngIf="formControls.UserName.errors" style="color: red; text-align:left">
                        User Name is required!
                    </div>
                </div>
            </div>
            <div class="user-box">
                <!-- <input type="password">
                <label for="">Password</label> -->
                <input type="password" placeholder="Password" formControlName="Password" class="form-control md-3"
                    minlength="5" required
                    [ngClass]="{'is-invalid':formControls.Password.touched && formControls.Password.invalid}"
                    id="Password">
                <label for="UserPassword"
                    ><b>Password:</b></label>
                
                <div *ngIf="isSubmitted && formControls.Password.errors">
                    <div *ngIf="formControls.Password.errors" style="color: red; text-align:left"
                        data-toggle="Password">
                        Password is required!
                    </div>
                </div>
            </div>
            <div style="margin-top: 50px;">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            <a href="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                CMS
            </a>
        </form>
    </div>
</div>