<div class="toolbar" role="banner">
    <img width="40" alt="HOME" src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png" />
    <span>HOME</span>
    <br>
    <span style="margin-left: 50px;" [routerLink]="['/login']">LOGOUT</span>
    <div class="spacer"></div>
    <!--search box add here-->
</div>
<!-- <app-patients></app-patients> -->
<router-outlet></router-outlet>
<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
        <span><b>CLINIC MANAGEMENT
                SYSTEM</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>

</div>


<div class="container">
    <div class="row">

        <div class="form-control">
            <!--Search-->
            <input class="form-control" type="text" placeholder="Search text here..." [(ngModel)]="filter">
            {{filter}}
            <br>
            <button class="btn btn-info" style="float: right;">Appointment Search</button>

        </div>
        <a [routerLink]="" class="btn btn-outline-secondary" style="float: right;margin-top: 10px;"></a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DateofAppointment</th>
                <th>Select</th>

            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let app of appointmentService.appointment |filter:filter | paginate:{itemsPerPage:2,currentPage:page}">
                <td>{{app.AppoinmentId}}</td>
                <td>{{app.FirstName}}</td>
                <td>{{app.LastName}}</td>
                <td>{{app.TokenDate | date:'dd-MMM-yyyy'}}</td>
                <td>

                    <button class="btn btn-sm btn-info" routerLink="/doctorprescribe" (click)="getid(app.AppoinmentId)">Select</button>
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    <br /> <br /> <br />

</div>