<div class="toolbar" role="banner">
    <img width="40" alt="HOME" src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png" />
    <span>HOME</span>
    <br>
    <span style="margin-left: 50px;" [routerLink]="['/login']">LOGOUT</span>
    <div class="spacer"></div>
    <!--search box add here-->
  </div>
  <!-- <app-patients></app-patients> -->
  <router-outlet></router-outlet>
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span><b>Prescriptions</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
  
  </div>
<div class="container">
<div class="header">
    <div class="form-control">
        <!-- search functionality -->
        <input class="form-control" type="text" placeholder="search text here..." [(ngModel)]="filter">
    </div></div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Appointment ID</th>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prescription of pharmacistprescriptionservice.prescriptions | filter: filter | paginate:{ itemsPerPage:5, currentPage: page}">
            <td>{{prescription.AppointmentId}}</td>
            <td>{{prescription.PatientFname}}&nbsp;{{prescription.PatientLname}}</td>
            <td>{{prescription.DocttorFname}}&nbsp;{{prescription.DocttorLname}}</td>
            <td>{{prescription.TokenDate | date:'dd-MM-yyyy'}}</td>
            <td><button class="btn btn-primary" id="{{prescription.PrescriptionId}}" (click)="showMedicines(prescription.PrescriptionId)">View</button></td>
        </tr>
    </tbody>
</table>
<div class="footer">
    <!-- pagination footer -->
    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
</div>
</div>

<footer class="footer bg-dark flex-shrink-0 py-2 bg-dark text-white-50" id="sticky-footer" style=" margin-top: 500px;">
    <div class="container text-center">
      <span class="text-white "><small>Copyright &copy; Team-RAAG</small>
  </span>
    </div>
  </footer>