<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="HOME" src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png" />
    <span type="button" routerlink="/adminhome" (click)="navi()" >HOME</span>
    <div class="spacer"></div>

    <!--search box add here-->
    <div class="form-group ">
        <input type="text" name="search" class="form-control me-2" placeholder="Search here" aria-label="Search"
            aria-describedby="button-addon2" id="search" [(ngModel)]="filter">
    </div>
</div>

<div class="container-fluid">
    <!-- <br><br> -->
    <h2 style="text-align: center; font-size: 200%; font-family: fantasy; margin-top: 100px;">Staff List</h2>
    <div class="header mt-3">
        <!-- <div clas="form-control"> -->
        <!--search functionality -->
        <!-- <input class="form-control" type="text" placeholder="search text here" [(ngModel)]="filter"> -->
        <!-- {{filter}} -->
        <!-- </div> -->
        <a routerLink="/employeeregister" class="btn btn-outline-secondary"
            style="float:right; margin-top: 10px; margin-bottom: 10px;">Add
            Employee</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Phone No.</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Date Of Joining</th>
                <th>Role Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr Service
                *ngFor="let emp of employeeService.employees | filter: filter| paginate:{itemsPerPage: 6,currentPage: page}">
                <td>{{emp.EmployeeId}}</td>
                <td>{{emp.FirstName}}</td>
                <td>{{emp.LastName}}</td>
                <td>{{emp.Dob| date:"dd-MMM-yyyy"}}</td>
                <td>{{emp.PhoneNumber}}</td>
                <td>{{emp.EmailAddress}}</td>
                <td>{{emp.Gender}}</td>
                <td>{{emp.Address}}</td>
                <td>{{emp.Doj | date:"dd-MMM-yyyy"}}</td>
                <td>{{emp.RoleName}}</td>
                <td>{{emp.EmployeeStatus}}</td>

                <td>
                    <!-- button -->
                    <button class="btn btn-sm btn-info" (click)="updateEmployee(emp.EmployeeId)">Edit</button>
                    &nbsp;
                    <!-- <button class="btn btn-sm btn-outline-danger"
                        (click)="deleteEmployee(emp.EmployeeId)">Delete</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <!-- pagination -->
    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
</div>
