<!-- Toolbar -->
<div class="toolbar bg-dark" role="banner">
    <img width="40" alt="HOME"
        src="https://www.clipartmax.com/png/full/331-3319886_simplify-the-workflow-even-in-your-most-complex-scanning-white-house-icon.png" />
    <span type="button" routerlink="/adminhome" (click)="navi()">ADMINISTRATOR HOME</span>
    <div class="spacer"></div>
    <!--search box add here-->
</div>

<div class="container " >
    <img width="40"  type="button" (click)="back()" style="margin-top: 100px;" alt="HOME" src="https://www.clipartmax.com/png/full/481-4818575_iago-mart%C3%ADnez-back-arrow-button.png" />
    <h2  style="text-align: center; font-size: 200%; font-family: fantasy;">Staff Registration</h2>
    <form name="empform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

        <!-- ID---Hidden-->
        <input type="hidden" name="EmployeeId" [(ngModel)]="empService.formData.EmployeeId">


        <div class="row">
            <!-- Name-->
            <div class="form-group mb-3 mt-3  col-md-5">
                <label>First Name :</label>
                <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="empService.formData.FirstName"
                    class="form-control" placeholder="Enter first Name" pattern="[a-zA-Z\s]+" required minlength="3"
                    maxlength="15" autocomplete="off"
                    [ngClass]="{'is-invalid':FirstName.touched && FirstName.invalid}" />

                <!-- name validation-->
                <div class="validation-error" *ngIf="FirstName.touched && FirstName.invalid">
                    <div *ngIf="FirstName.errors">
                        Enter Valid First Name!
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- last Name-->
            <div class="form-group mb-3 mt-3 col-md-5">
                <label>last Name :</label>
                <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="empService.formData.LastName"
                    class="form-control" placeholder="Enterlast Name" pattern="[a-zA-Z\s]+" required minlength="1"
                    maxlength="20" autocomplete="off" [ngClass]="{'is-invalid':LastName.touched && LastName.invalid}" />

                <!--  validation-->
                <div class="validation-error" *ngIf="LastName.touched && LastName.invalid">
                    <div *ngIf="LastName.errors">
                        Enter Valid Last Name!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Dob-->
            <div class="form-group mb-3 col-md-5">
                <label>Date of Birth:</label>
                <input type="date" name="Dob" #Dob="ngModel" [(ngModel)]="empService.formData.Dob" class="form-control"
                    [max]="getToday()" required [ngClass]="{'is-invalid':Dob.touched && Dob.invalid}" />

                <!--  validation-->
                <div class="validation-error" *ngIf="Dob.touched && Dob.invalid">
                    <div *ngIf="Dob.errors">
                        Dob is required!
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!-- Gender -->
            <div class="form-group mb-3 col-md-5">
                <label>Gender:</label>

                <select name="Gender" id="Gender" class="form-control" #Gender="ngModel" required
                    [(ngModel)]="empService.formData.Gender"
                    [ngClass]="{'is-invalid':EmployeeStatus.touched && EmployeeStatus.invalid}">
                    <option value="0" disabled>-- Select Gender --</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>

                </select>
                

                <!--  validation-->
                <div class="validation-error" *ngIf="Gender.touched && Gender.invalid">
                    <div *ngIf="Gender.errors">
                        Gender is required!
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- PhoneNumber-->
            <div class="form-group mb-3 col-md-5">
                <label>Phone :</label>
                <input type="text" name="PhoneNumber" #PhoneNumber="ngModel"
                    [(ngModel)]="empService.formData.PhoneNumber" class="form-control" placeholder="Enter Phone Number"
                    pattern="\d{10}" required minlength="10" maxlength="10" autocomplete="off"
                    [ngClass]="{'is-invalid':PhoneNumber.touched && PhoneNumber.invalid}" />

                <!--  validation-->
                <div class="validation-error" *ngIf="PhoneNumber.touched && PhoneNumber.invalid">
                    <div *ngIf="PhoneNumber.errors">
                        Enter valid Phone number
                    </div>
                </div>
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!-- EmailAddress-->
            <div class="form-group mb-3 col-md-5">
                <label>Email :</label>
                <input type="email" name="EmailAddress" #EmailAddress="ngModel"
                    [(ngModel)]="empService.formData.EmailAddress" class="form-control"
                    placeholder="Enter Email Address" required
                    minlength="6" maxlength="24" autocomplete="off"
                    [ngClass]="{'is-invalid':EmailAddress.touched && EmailAddress.invalid}" />
                    <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" -->

                <!-- validation-->
                <div class="validation-error" *ngIf="EmailAddress.touched && EmailAddress.invalid">
                    <div *ngIf="EmailAddress.errors">
                        Enter valid email address
                    </div>
                </div>
            </div>
        </div>



        <!-- Address -->
        <div class="form-group mb-3 col-md-8">
            <label>Address :</label>
            <input type="text" name="Address" #Address="ngModel" [(ngModel)]="empService.formData.Address"
                class="form-control" placeholder="Enter Address" required minlength="3" maxlength="30"
                autocomplete="off" [ngClass]="{'is-invalid':Address.touched && Address.invalid}" />

            <!-- validation-->
            <div class="validation-error" *ngIf="Address.touched && Address.invalid">
                <div *ngIf="Address.errors">
                    Address is required!
                </div>
            </div>
        </div>

        <div class="row">
            <!--User Name -->
            <div class="form-group mb-3 col-md-5">
                <label>User Name :</label>
                <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="empService.formData.UserName"
                    class="form-control" placeholder="Enter UserName" required minlength="5" maxlength="12"
                    autocomplete="off" [ngClass]="{'is-invalid':UserName.touched && UserName.invalid}" />

                <!-- validation-->
                <div class="validation-error" *ngIf="UserName.touched && UserName.invalid">
                    <div *ngIf="UserName.errors">
                        Enter valid Username!
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!-- Password -->
            <div class="form-group mb-3 col-md-5">
                <label>Password :</label>
                <input type="password" name="Password" #Password="ngModel" [(ngModel)]="empService.formData.Password"
                    class="form-control" placeholder="Enter Password" required minlength="8" maxlength="16"
                    autocomplete="off" [ngClass]="{'is-invalid':Password.touched && Password.invalid}" />

                <!--  validation-->
                <div class="validation-error" *ngIf="Password.touched && Password.invalid">
                    <div *ngIf="Password.errors">
                        Enter valid password!
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <!-- Doj -->
            <div class="form-group mb-3 col-md-5">
                <label>Date of Joining :</label>

                <input type="Date" name="Doj" #Doj="ngModel" [(ngModel)]="empService.formData.Doj" class="form-control"
                    max="3000-01-01" min="1999-01-01" required minlength="1" autocomplete="off"
                    [ngClass]="{'is-invalid':Doj.touched && Doj.invalid}" />

                <!-- validation-->
                <div class="validation-error" *ngIf="Doj.touched && Doj.invalid">
                    <div *ngIf="Doj.errors">
                        Joining date is required!
                    </div>
                </div>
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!-- status -->
            <div class="form-group mb-3 col-md-5">
                <label>Status:</label>
                <!-- <input type="text" name="EmployeeStatus" #EmployeeStatus="ngModel" pattern="[a-zA-Z\s]+"
                [(ngModel)]="empService.formData.EmployeeStatus" class="form-control" placeholder="Active/Inactive"
               required minlength="6" autocomplete="off"
               [ngClass]="{'is-invalid':EmployeeStatus.touched && EmployeeStatus.invalid}" /> -->
                <select name="EmployeeStatus" id="EmployeeStatus" class="form-control" #EmployeeStatus="ngModel"
                    required [(ngModel)]="empService.formData.EmployeeStatus"
                    [ngClass]="{'is-invalid':EmployeeStatus.touched && EmployeeStatus.invalid}">
                    <option value="0" disabled>-- Select Status --</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>

                </select>

                <!--  validation-->
                <div class="validation-error" *ngIf="EmployeeStatus.touched && EmployeeStatus.invalid">
                    <div *ngIf="EmployeeStatus.errors">
                        Status is required!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- dropdown Role-->
            <div class="form-group col-md-5">
                <label>Role :</label>
                <select name="RoleId" id="RoleId" class="form-control" #RoleId="ngModel" required
                    [(ngModel)]="empService.formData.RoleId"
                    [ngClass]="{'is-invalid':RoleId.touched && RoleId.invalid}">
                    <option value="0" disabled>-- Select the Role--</option>
                    <option *ngFor="let rol of empService.roles" value="{{rol.RoleId}}">{{rol.RoleName}}
                    </option>
                </select>

                <!-- validation-->
                <div class="validation-error" *ngIf="RoleId.touched && RoleId.invalid">
                    <div *ngIf="RoleId.errors">
                        Role is required!
                    </div>
                </div>
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <!-- ID---Hidden-->
            <input type="hidden" name="DoctorId" [(ngModel)]="empService.formData.DoctorId">



            <!-- dropdown Role-->
            <div class="form-group col-md-5">
                <label>Department :</label>
                <select name="DepId" id="DepId" class="form-control" #DepId="ngModel"
                    [(ngModel)]="empService.formData.DepId">
                    <option value="0" disabled>-- Select Department --</option>
                    <option *ngFor="let dep of empService.deparments" value="{{dep.DepId}}">{{dep.DepName}}
                    </option>
                </select>

                <!-- validation-->
                <!-- <div class="validation-error" *ngIf="DepId.touched && DepId.invalid">
        <div *ngIf="DepId.errors.required">
            deprtment is required!
        </div>
    </div> -->
            </div>
        </div>






        <!--Submit-->
        <br>
        <div class="form-group mb-2 p-1 col-md-3">
            <button type="submit" class="btn btn-dark form-control"
                [disabled]="!(form.valid && form.dirty)">Submit</button>
        </div>




    </form>
</div>

<footer class="footer bg-dark flex-shrink-0 py-2 bg-dark text-white-50" id="sticky-footer" style=" margin-top: 300px;">
    <div class="container text-center">
        <span class="text-white "><small>Copyright &copy; Team-RAAG</small>
        </span>
    </div>
</footer>