
<app-receptionisthome></app-receptionisthome>

<app-patients></app-patients>

<app-appointments></app-appointments>

<app-consultation-bill></app-consultation-bill>

<app-pharmpres-list></app-pharmpres-list>

<app-prescriptionmedicine-list></app-prescriptionmedicine-list>

<app-labtechlabtest-list></app-labtechlabtest-list>

<app-labtechtest-list></app-labtechtest-list>

<app-employee-list></app-employee-list>

<app-medicine-list></app-medicine-list>

<app-doctorhome></app-doctorhome>

<router-outlet></router-outlet>

 