<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="HOME" src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png" />
  <br>
  <span  [routerLink]="['/ReceptionistHome']">RECEPTIONIST HOME</span>
</div>

<div class="container" style="align-items: center;">
  <h2 style="text-align: center; font-size: 200%; font-family: fantasy; margin-top: 100px;">Patient Registration</h2>
  <div class="form-control" style="margin-top: 30px; margin-bottom: 30px;">


    <form name="empform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
      <div class="form-row ">

        <!--Patient ID---Hidden-->
        <input type="hidden" class="form-control" name="PatientId" [(ngModel)]="patientService.formData.PatientId">

        <!--FirstName-->
        <div class="form-group col-md-6"
          style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;">
          <label for="FirstName"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b> First
              Name</b></label>
          <input type="text" class="form-control" name="FirstName" #FirstName="ngModel" pattern="[a-zA-Z\s]+" autocomplete="off"
            [(ngModel)]="patientService.formData.FirstName" class="form-control" placeholder="Enter FirstName" required
            minlength="2" maxlength="30" [ngClass]="{'is-invalid':FirstName.touched && FirstName.invalid}" />

          <!--FirstName validation-->
          <div class="validation-error" *ngIf="FirstName.touched && FirstName.invalid">
            <div *ngIf="FirstName.errors">
              FirstName is required!
            </div>
          </div>
        </div>


        <!--LastName-->
        <div class="form-group col-md-6"
          style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;">
          <label for="LastName"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>
              LastName</b></label>
          <input type="text" class="form-control" name="LastName" #LastName="ngModel" pattern="[a-zA-Z\s]+" autocomplete="off"
            [(ngModel)]="patientService.formData.LastName" class="form-control" placeholder="Enter LastName" required
            minlength="1" maxlength="25" [ngClass]="{'is-invalid':LastName.touched && LastName.invalid}" />

          <!--LastName validation-->
          <div class="validation-error" *ngIf="LastName.touched && LastName.invalid">
            <div *ngIf="LastName.errors">
              LastName is required!
            </div>
          </div>
        </div>

        <!--Gender-->
        <div class="form-group col-md-1" style="align-items: center;margin-bottom: 15px;margin-left: 290px;">
          <label for="Gender"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>Gender</b></label>
          <select class="form-select" name="Gender" id="Gender" #Gender="ngModel" required
            [(ngModel)]="patientService.formData.Gender">
            <option value="0" disabled>- SELECT -</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Transgender">Transgender</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <!--Blood Group-->
        <div class="form-group col-md-1" style="align-items: center;margin-bottom: 15px;margin-left: 290px;">
          <label for="bloodgroup"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>Blood
              Group</b></label>
          <select class="form-select" name="BloodGroup" id="BloodGroup" #BloodGroup="ngModel" required
            [(ngModel)]="patientService.formData.BloodGroup">
            <option value="0" disabled>- SELECT -</option>
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="O+">O+</option>
            <option value="AB+">AB+</option>
            <option value="A-">A-</option>
            <option value="B-">B-</option>
            <option value="O-">O-</option>
            <option value="AB-">AB-</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <!--Date of Birth-->
        <div class="form-group col-md-6" style="align-items: center;margin-bottom: 15px;margin-left: 290px;">
          <label for="Dob"
            style="float: left;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>Date of
              Birth</b></label>
          <input type="date" name="Dob" id="Dob" #Dob="ngModel" [(ngModel)]="patientService.formData.Dob"  [max]="getToday()" 
            class="form-control" required />
        </div>

        <!--Phone number-->
        <div class="form-group col-md-6"
          style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;">
          <label for=""
            style="float: left;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>Phone Number</b>
            :</label>
          <input type="text" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="patientService.formData.PhoneNumber"
            class="form-control" placeholder="Enter your number" required minlength="10" maxlength="10" min="0" autocomplete="off"
            [ngClass]="{'is-invalid':PhoneNumber.touched && PhoneNumber.invalid}" />

          <!--PhoneNumber validation-->
          <div class="validation-error" *ngIf="PhoneNumber.touched && PhoneNumber.invalid">
            <div *ngIf="PhoneNumber.errors">
              Phone number is required!
            </div>
          </div>
        </div>

        <!--EmailAddress-->
        <div class="form-group col-md-6" 
        style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;">
          <label for="EmailAddress" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>Email Address</b></label>
          <input type="email" name="EmailAddress" #EmailAddress="ngModel"
            [(ngModel)]="patientService.formData.EmailAddress" class="form-control" placeholder="Enter Email Address" autocomplete="off"
            required 
            [ngClass]="{'is-invalid':EmailAddress.touched && EmailAddress.invalid}" />

          <!--Email validation-->
          <div class="validation-error" *ngIf="EmailAddress.touched && EmailAddress.invalid">
            <div *ngIf="EmailAddress.errors">
              Email is required!
            </div>
          </div>
        </div>

        <!-- Address -->
        <div class="form-group col-md-6"
          style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;">
          <label for="Address" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>
              Address
              :</b></label>
          <input type="text" class="form-control" name="Address" #Address="ngModel"
            [(ngModel)]="patientService.formData.Address" class="form-control" placeholder="Enter Address" required autocomplete="off"
            minlength="2" maxlength="25" [ngClass]="{'is-invalid':Address.touched && Address.invalid}" />

          <!--Address validation-->
          <div class="validation-error" *ngIf="Address.touched && Address.invalid">
            <div *ngIf="Address.errors">
              Address is required!
            </div>
          </div>
        </div>

        <!--Pincode-->
        <div class="form-group col-md-6"
          style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;">
          <label for="Pincode" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>
              Pincode
              :</b></label>
          <input type="number" class="form-control" name="Pincode" #Pincode="ngModel"
            [(ngModel)]="patientService.formData.Pincode" class="form-control" placeholder="Enter Pincode" required min="0" autocomplete="off"
            minlength="2" maxlength="25" [ngClass]="{'is-invalid':Pincode.touched && Pincode.invalid}" />

          <!--Pincode validation-->
          <div class="validation-error" *ngIf="Pincode.touched && Pincode.invalid">
            <div *ngIf="Pincode.errors">
              Pincode is required!
            </div>
          </div>
        </div>

      <!-- Submit -->
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-dark form-control"
          style="margin-bottom: 20px;margin-top: 15px;margin-left: 290px;width: fit-content;"[disabled]="!(form.valid && form.dirty)">Register</button>
      </div>
    </div>
    </form>
  </div>
</div>

<!--Footer-->
<footer class="footer bg-dark flex-shrink-0 py-2 bg-dark text-white-50" id="sticky-footer" style=" margin-top: 300px;">
  <div class="container text-center">
    <span class="text-white "><small>Copyright &copy; Team-RAAG</small>
</span>
  </div>
</footer>