<div class="toolbar" role="banner">
    <img width="40" alt="HOME" src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png" />
    <span>HOME</span>
    <br>
    <span style="margin-left: 50px;" [routerLink]="['/login']">LOGOUT</span>
    <div class="spacer"></div>
    <!--search box add here-->
  </div>
  <!-- <app-patients></app-patients> -->
  <router-outlet></router-outlet>
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span><b>Prescription Medicines</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
  
  </div>
<div class="container">
<div class="header">
    <div class="form-control">
        <!-- search functionality -->
        <input class="form-control" type="text" placeholder="search text here..." [(ngModel)]="filter">
    </div></div>
<table class="table table-bordered table-striped" id="tbl_Medicine_List">
    <thead>
        <tr>
            <th>Medicine Name</th>
            <th>Dosage</th>
            <th>Quantity</th>
            <th>Price per unit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medicine of prescriptionmedicinesservice.medicines | filter: filter | paginate:{ itemsPerPage:5, currentPage: page}">
            <td>{{medicine.Medicinename}}</td>
            <td>{{medicine.Dosage}}</td>
            <td>{{medicine.Quantity}}</td>
            <td>{{medicine.PriceperUnit}}</td>
            <input type="hidden" value="{{medicine.AppointmentId}}" class="input_AppointmentId">
        </tr>
    </tbody>
</table>
<div style="text-align: right;">
    <button *ngIf="prescriptionmedicinesservice.medicinebillCheck.length > 0; else Generate" class="btn btn-primary" (click)="viewMedicineBill(prescriptionmedicinesservice.medicinebillCheck[0].MbillId)">View Bill</button>
    <ng-template #Generate>
        <button class="btn btn-primary" (click)="generateMedicineBill()">Generate Bill</button>
    </ng-template>
</div>
<div class="footer">
    <!-- pagination footer -->
    <pagination-controls (pageChange)="page=($event)"></pagination-controls>
</div>
</div>