<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="HOME" src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png" />
  <br>
  <span [routerLink]="['/ReceptionistHome']">RECEPTIONIST HOME</span>
  <div class="spacer"></div>
</div>

<div class="container" style="align-items: center;">
  <h2 style="text-align: center; font-size: 200%; font-family: fantasy; margin-top: 100px;">Appointment Scheduling</h2>
  <div class="form-control" style="margin-top: 30px; margin-bottom: 30px;">

    <!--search functionality-->

    <div class="form-group col-md-6"
      style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;">


      <input type="search" class="form-control" id="PatientId" placeholder="Search by id / Phone number / name..."
        aria-describedby="button-addon5" [(ngModel)]="filter" #PatientId name="PatientId"
        [ngModelOptions]="{standalone: true}">
      <div class="input-group-append">

        <button id="button-addon5" type="submit" class="btn btn-secondary" style="margin-top: 10px;"
          (click)="getDetails()"> <i class="fa fa-search"></i>Search</button>
      </div>
    </div>

    <hr>

    <!--Details of searched Patient-->
    <p
      style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      Patient Details</p>
    <table class="table table-bordered table-striped" style="margin-top: 20px;">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>LastName</th>
          <th>Gender</th>
          <th>BloodGroup</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patientService.patient">
          <td>{{patient.PatientId}}</td>
          <td>{{patient.FirstName}}</td>
          <td>{{patient.LastName}}</td>
          <td>{{patient.Gender}}</td>
          <td>{{patient.BloodGroup}}</td>
          <td>{{patient.Address}}</td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>
    <form name="empform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
      <div class="form-row ">
        <p
          style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
          Schedule Appointment</p>

        <!--Appointment Id-->
        <input type="hidden" name="AppointmentId" [(ngModel)]="patientService.formData2.AppoinmentId" />



        <!--Employee Id-->
        <input type="hidden" name="EmployeeId" [(ngModel)]="recappointmentService.formData.EmployeeId"
          id="EmployeeId" />
        <script type="text/javascript">
          document.getElementById('EmployeeId').value = '2';
        </script>

        <!--Token No-->
        <input type="hidden" name="TokenNo" [(ngModel)]="recappointmentService.formData.TokenNo" />

        <!--Token Date-->
        <div class="form-group col-md-6"
          style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;">
          <label for="TokenDate"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b> Today's
              Date</b></label>
          <input type="datetime-local" class="form-control" name="TokenDate" #TokenDate="ngModel"
            [(ngModel)]="recappointmentService.formData.TokenDate" class="form-control" required
            [ngClass]="{'is-invalid':TokenDate.touched && TokenDate.invalid}" />

          <!--Token Date validation-->
          <div class="validation-error" *ngIf="TokenDate.touched && TokenDate.invalid">
            <div *ngIf="TokenDate.errors">
              Date is required!
            </div>
          </div>
        </div>


        <!--Department dropdown-->
        <div class="form-group col-md-3" style="align-items: center;margin-bottom: 15px;margin-left: 290px;">
          <label for="bloodgroup"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>Department</b></label>
          <select id="DepId" class="form-control" name="DepId" id="DepId" #DepId="ngModel" required
            [(ngModel)]="recappointmentService.formData1.DepId">
            <option value="0" disabled>-- Choose the Department --</option>
            <option *ngFor="let tr of recappointmentService.departments" value="{{tr.DepId}}">
              {{tr.DepName}}
            </option>
          </select>

          <!--DepId  validation-->
          <div class="validation-error" *ngIf="DepId.touched && DepId.invalid">
            <div *ngIf="DepId.errors.required">
              Department is required!
            </div>
          </div>
        </div>


        <!--Doctor dropdown-->
        <div class="form-group col-md-3" style="align-items: center;margin-bottom: 15px;margin-left: 290px;">
          <label for="bloodgroup"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>Doctor</b></label>
          <select id="DoctorId" class="form-control" name="DoctorId" id="DoctorId" #DoctorId="ngModel" required
            [(ngModel)]="recappointmentService.formData.DoctorId">
            <option value="0" disabled>-- Choose the Doctor --</option>
            <option *ngFor="let tr of recappointmentService.employees" value="{{tr.DoctorId}}">
              {{tr.FirstName}}
            </option>
          </select>

          <!--Doctor  validation-->
          <div class="validation-error" *ngIf="DepId.touched && DepId.invalid">
            <div *ngIf="DepId.errors.required">
              Department is required!
            </div>
          </div>
        </div>

        <!--CBillId-->
        <input type="hidden" name="CBillId" [(ngModel)]="recappointmentService.formData.CBillId" />

        <input type="hidden" name="UpdatedDate" [(ngModel)]="recappointmentService.formData.UpdatedDate" />



        <!--Consultation fee-->
        <div class="form-group col-md-6"
          style="align-items: center;margin-bottom: 15px;margin-top: 20px;margin-left: 290px;">
          <label for="ConsultationFee"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b> Consultation
              Fee</b></label>
          <input type="number" class="form-control" name="ConsultationFee" #ConsultationFee="ngModel"
            [(ngModel)]="recappointmentService.formData.ConsultationFee" class="form-control"
            placeholder="Enter ConsultationFee" required minlength="2" maxlength="30"
            [ngClass]="{'is-invalid':ConsultationFee.touched && ConsultationFee.invalid}" />

          <!--FirstName validation-->
          <div class="validation-error" *ngIf="ConsultationFee.touched && ConsultationFee.invalid">
            <div *ngIf="ConsultationFee.errors">
              ConsultationFee is required!
            </div>
          </div>
        </div>
        <hr>


      </div>


      <button type="submit" class="btn btn-dark"
        style="margin-bottom: 20px;margin-top: 15px;margin-left: 290px;">Schedule</button>
    </form>
  </div>
</div>

<footer class="footer bg-dark" style="align-items: center; margin-top: 80px;">
  <div class="footer footer-fixed align-items:center">
    <span class="text-white " style="text-align: center;"><b>All rights reserved 2022 @Team-RAAG</b>
    </span>
  </div>
</footer>