<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="HOME"
      src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png"
    />
    <br>
    <span>RECEPTIONIST HOME</span>
      <div class="spacer"></div>
</div>

<div class="container-bill" style="margin-top: 100px;">
    <table class="body-wrap">
        <tbody><tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td class="content-wrap aligncenter">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tbody><tr>
                                        <td class="content-block">
                                            <h2 class="alignright" style="margin-left: 100px;">Consultation Bill</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <table class="invoice">
                                                <tbody><tr>
                                                    <td>Amal Muhammed<br>Invoice #12345<br>June 01 2021</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                            <tbody><tr>
                                                                <td>Consultation Fee</td>
                                                                <td class="alignright">Rs .200</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Gst & Taxes</td>
                                                                <td class="alignright">Rs. 60</td>
                                                            </tr>
                                                            <tr class="total">
                                                                <td class="alignright" width="80%">Total</td>
                                                                <td class="alignright">Rs. 260</td>
                                                            </tr>

                                                            <tr class="button">
                                                                <button type="submit" class="btn btn-dark" style="margin-bottom: 20px;margin-top: 15px;margin-left: 290px;margin-top: 30px;">Print Bill</button>
                                                            </tr>


                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                    </tbody></table>
                </div>
            </td>
            <td></td>
        </tr>
    </tbody></table>
</div>


<footer class="footer bg-dark" style="align-items: center; margin-top: 300px;">
    <div class="footer footer-fixed align-items:center">
      <span class="text-white " style="text-align: center;"><b>All rights reserved 2022 @Team-RAAG</b>
  </span>
    </div>
</footer>


