<div class="toolbar" role="banner">
    <img width="40" alt="HOME" src="https://www.clipartmax.com/png/full/4-41237_free-icons-png-new-home-icon.png" />
    <span>HOME</span>
    <div class="spacer"></div>
    <!--search box add here-->
  </div>
  <!-- <app-patients></app-patients> -->
  <router-outlet></router-outlet>
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span><b>Test Prescription</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
  
  </div>
  
  <div class="doctorclass">


    <div class="container bordered">
        <h3>Prescribe Test</h3>
    
    
    
        <form name="preform" #form="ngForm" autocomplete="off" style="width: 30em;">
          <table class="table table-bordered table-striped" style="width: 70em;">
            <thead>
              <tr>
                <th>Test Name:</th>
                <th>Unit:</th>
                
              </tr>
    
            </thead>
    
            <input type="hidden" name="Ptid" [(ngModel)]="appointmentService.formData.Ptid">
            <tbody>
              <tr>
                <td>
                  <div class="form-group">
    
    
                    <select name="TestId" id="TestId" class="form-control" #TestId="ngModel" required
                      [(ngModel)]="appointmentService.formData.TestId">
                      <option value=0 disabled>Select Test Name</option>
                      <option *ngFor="let dept of appointmentService.test" value="{{dept.TestId}}">
                        {{dept.TestName}}
                      </option>
                    </select>
    
    
    
    
                  </div>
                </td>
                <td>
                  <div class="form-group">
    
    
                    <select name="UnitId" id="UnitId" class="form-control" #UnitId="ngModel" required
                      [(ngModel)]="appointmentService.formData.UnitId">
                      <option value=0 disabled>SelectUnit</option>
                      <option *ngFor="let dept of appointmentService.unit" value="{{dept.UnitId}}">
                        {{dept.Unit}}
                      </option>
                    </select>
                    
    
    
                  </div>
                </td>
                
    
                <br>
    
                <td>
                  <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary form-control"
                      [disabled]="!(form.valid &&form.dirty)">Submit</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
    
      </div>

